body {
  background-color: #e0e1dd;
  margin: 0px;
  padding: 0px;
}

.hero {
  width: 220px;
  height: 280px;
  border: 5px solid white;
  border-radius: 5px;
  padding-left: 20px;
  background-color: #415a77;
  margin: 50px auto;
  box-shadow: -3px 3px 5px 6px rgba(0, 0, 0, 0.3);
}
#password-1,
#password-2 {
  width: 100px;
  height: 23px;
  border-radius: 4px;
  background-color: #0d1b2a3b;
  color: white;
  font-size: 9px;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
#passwords {
  width: 220px;
  height: 20px;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
button {
  padding: 3px 8px;
  background-color: #778da9;
  color: white;
  border-radius: 4px;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 11px;
}
h1 {
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 20px;
  color: white;

  font-family: "Oswald", sans-serif;
}
h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  color: #778da9;
  font-family: "Oswald", sans-serif;
}

#line {
  margin: 20px auto 0px auto;
  width: 200px;
  border-bottom: 0.5px solid white;
}
p {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 10px;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  color: white;
}
#div {
  margin-top: 0px;
  padding: 0px;
}
label {
  margin-top: 10px;
  font-size: 10px;
  color: white;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}
#password-length {
  margin-top: 10px;
  font-size: 10px;
  color: black;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  height: 12px;
  width: 26px;
}
